/* Estilizando o layout com Bootstrap e ajustes personalizados */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 250px; /* Espaço para o menu lateral esquerdo */
    margin-right: 250px; /* Espaço para a ToC lateral direita */
    background-color: #f8f9fa;
}

/* Menu lateral esquerdo */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #007bff;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* ToC lateral direito */
.toc-sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-left: 1px solid #dee2e6;
    overflow-y: auto;
}

.toc-sidebar ul {
    list-style: none;
    padding: 0;
}

.toc-sidebar li {
    margin-bottom: 10px;
}

.toc-sidebar a {
    text-decoration: none;
    color: #28a745;
}

.toc-sidebar a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main.markdown-body {
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Header */
header {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;  /* Mudar de sticky para relative */
    z-index: 10;
}

header img {
    width: 150px;
}

header h1 {
    font-size: 2rem;
    margin-top: 20px;
}

header .breadcrumb {
    margin-top: 10px;
}

/* Footer */
footer {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: relative;
    margin-top: auto;
    bottom: 0;
}
